<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logo.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Veterinaria</ion-card-subtitle>
        <ion-card-title>Pet-Clinic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Es una aplicacion móvil para que sea mas facil 
            el servicio de citas 
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Acciones</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="['/list']">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ver Citas</ion-label>
      </ion-item>
    </ion-list>
    

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-img src="/assets/home/1.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/home/2.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/home/3.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/home/4.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/home/5.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/home/6.jpg"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
