<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-grid>
          <ion-row>
            <ion-col size="8">
                  Nueva Cita
            </ion-col>
            <ion-col size="4">
              <ion-icon [routerLink]="['/list']" name="close"></ion-icon> 
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="fixed">Nombre Cita</ion-label>
        <ion-input></ion-input>
    </ion-item>
</ion-content>
